rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isSignedIn() {
      return request.auth != null;
    }

    function authorizeUserToDoCRUD() {
      return request.auth.token.email == resource.data.email;
    }

    function authorizeUser() {
      return request.auth.token.email == request.resource.data.email;
    }

    function isUser() {
      return isSignedIn() && authorizeUser();
    }
    function isUserCRUD() {
      return isSignedIn() && authorizeUserToDoCRUD();
    }

    match /Tasks/{taskId} {

      allow create, update: if isUser();

      allow read, list, delete: if isUserCRUD();
    }
    
    match /Users/{userId} {
      allow read, write;
    }
  }
}
